*{
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

a{
  text-decoration: none;
}

@media(min-width:1220px){
  .genre:nth-child(4n):not(:last-child), .movie:nth-child(4n):not(:last-child){
    margin-bottom: 20px;
  }
  .genre:not(:nth-child(4n)), .movie:not(:nth-child(4n)){
    margin-right: 20px;
  }
  .films{
    width: 1180px;
  }
}

@media(max-width:1219px)and(min-width:920px){
  .genre:nth-child(3n):not(:last-child), .movie:nth-child(3n):not(:last-child){
    margin-bottom: 20px;
  }
  .genre:not(:nth-child(3n)), .movie:not(:nth-child(3n)){
    margin-right: 20px;
  }
  .new, .genres{
    width: 880px;
  }
}

@media(max-width:919px)and(min-width: 620px){
  .genre:nth-child(2n):not(:last-child), .movie:nth-child(2n):not(:last-child),{
    margin-bottom: 20px;
  }

  .genre:not(:nth-child(2n)), .movie:not(:nth-child(2n)){
    margin-right: 20px;
  }
  .new, .genres{
    width: 580px;
  }
}

@media(max-width:619px){
  .genre:not(:last-child), .movie:not(:last-child){
    margin-bottom: 20px;
  }

  .genre, .movie{
    margin-right: 0;
  }
  .new, .genres{
    width: 280px;
  }
}

@media(max-width:800px){
  #header {
    .title{
      position: absolute;
      visibility: hidden;
    }

    .search{
      width: 282px;
      justify-content: flex-end;
    }

    input[type="text"]{
      width: 200px;
    }
  }
}

$red: #E5261E;
$hoverRed: #CC221B;
$gray: #333333;
$gray4: #BDBDBD;
$bg: #F2F2F2;
$htc: #1F4766;

@mixin font ($size, $height, $color:$gray, $weight:400){
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  color:$color;
}

body::-webkit-scrollbar, #channels::-webkit-scrollbar{
  width: 8px;
}
body::-webkit-scrollbar-track, #channels::-webkit-scrollbar-track{
  background: $bg;
  border-radius: 2px;
}
body::-webkit-scrollbar-thumb, #channels::-webkit-scrollbar-thumb{
  background: $gray4;
  border-radius: 2px;
  width: 4px;
}


#header{
  max-width: 1180px;
  height: 36px;
  padding: 0 20px;

  margin: 32px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo{
    display: flex;
    align-items: center;

  }

  .title{
    display: inline-block;
    margin-left: 11px;

    @include font(20px, 24px, $weight:500);
  }

  .search{
    width: 402px;
    height: 25px;
    margin: 0 auto;
    padding: 0 20px;

    display: flex;
    align-items: center;
  }

  a{
    margin-left: 32px;
    padding-bottom: 6px;

    @include font(16px, 19px, $red, 500);
  }

  #authorization{
    white-space: nowrap;

    .log-out{
        @include font(16px, 19px, $red, 500);
        border: none;
        background: none;
        cursor: pointer;

        &:hover{
          color:$hoverRed;
        }
    }
  }

  #name{
    @include font(16px, 19px, $gray, 500);
    margin-right: 16px;
    padding-bottom: 6px;
    border: none;
    width: 100px;
    text-align:right;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover{
      cursor: pointer;
    }

    &:focus{
      border-bottom: 1px solid $gray;
    }
  }
}

#main{
  position: relative;
  margin: 44px auto 40px;
  max-width: 1180px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;


  .tabs{
    width: 311px;
    height: 42px;
    margin: 0 auto 32px;

    ul{
      list-style-type: none;
      display: flex;
      justify-content: space-between;
    }
    li{
      @include font(28px, 33px, $gray, 500);
      display: inline-block;
    }

    a{
      box-sizing: border-box;
      padding-bottom: 9px;
      color: inherit;
    }

    .active{
      border-bottom: 1px solid $red;
      color: $red;
    }
  }

  .title{
    margin: 0 0 16px;
    @include font(24px, 28px, $weight:500);
    display: inline-block;
  }

  .fire{
    &::before{
      content: "\1F525";
    }
  }

  .films{
    display: flex;
    width: auto;
    // justify-content: space-between;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 32px;
  }
  .movie{
    position: relative;
    width: 280px;
    height: 434px;

    &:hover{
      .gray{
        opacity: 0.8;
      }
      p{
        opacity: 1;
      }
    }

    .description{
      background: #C4C4C4;
      width: 280px;
      height: 370px;
      border-radius: 8px;
    }

    img{
      width: inherit;
      height: inherit;
      border-radius: 8px;
      position: relative;
      cursor: pointer;
    }
    .gray{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0;
    }

    p{
      position: absolute;
      top: 0;
      width: 100%;
      height: 370px - 32px;
      padding: 16px;
      box-sizing: border-box;
      @include font(16px, 140%, $bg);
      opacity: 0;
      cursor: pointer;
      overflow: hidden;
    }

    h2{
      @include font(20px, 24px);
      padding-top: 16px;
      cursor: pointer;
    }
  }

  .genre{
    width: 280px;
    height: 208px;


    position: relative;
    opacity: 0.8;
    box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    cursor: pointer;

    p{
      @include font(20px, 24px, #FFFFFF);
      position: absolute;
      bottom: 24px;
      left:50%;
      transform: translateX(-50%);
    }
  }
  .icon{
    font-size: 48px;
    line-height: 48px;
    position: relative;
    top:80px;
    text-align: center;
  }
  .genre:hover{
    opacity: 1;
  }

}

// ПОДВАЛ
#footer{
  background: $bg;
  min-height: 120px;
  height: auto;
  padding: 0 20px;


  .size{
    height: 100%;
    max-width: 1180px;
    margin: 0 auto;
  }

  img{
    height: 64px;
    margin: 28px 40px 28px 0;
    float: left;
  }

  p{
    @include font(16px, 19px);
    margin-bottom: 6px;
    position: relative;
    top: 22px;

    &:last-child{
      @include font(16px, 19px, $htc, 500);
      margin-top: 10px;
    }
    a{
      color: inherit;
    }
  }
}

.btn{
  width: 113px;
  height: 38px;
  border: none;
  border-radius: 4px;
  background: $red;

  @include font(16px, 19px, #FFFFFF, 500);
  cursor: pointer;

  &:hover{
    background: $hoverRed;
  }
}

input[type="text"], input[type="password"]{
  border:none;
  border-bottom: 1px solid $gray;
  padding-bottom: 6px;

  width: 320px;
  height: 25px;
  background: none;

  @include font(16px, 19px);
  box-sizing: border-box;

  &:focus{
    outline: none;
  }
}

.checkbox{
  display: flex;
  align-items: center;

  input[type="checkbox"]{
    display: none;

    &:checked{
      &~.checkbox-custom{
        &::after{
          content: '\2713';
          color: $red;
        }
      }
    }
  }
  .checkbox-custom{
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid $gray;
    border-radius: 4px;
    margin-right: 8px;

    position: relative;

    &::after{
      content: '';
      position: absolute;
      top: -3px;
      left:2px;
    }
  }

  .checkbox-text{
    @include font(16px, 19px);
  }
}

// МОДАЛЬНОЕ ОКНО
#bg{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

  background: rgba(51,51,51,0.6);

  display: none;

  z-index: 1;
  justify-content: center;
  align-items: center;
}

.close{
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: fixed;
}
.modal{
  width: 304px;
  height: 394px;
  border-radius: 8px;

  background: #FFFFFF;
  opacity: 1;

  padding: 36px;
  box-sizing: border-box;

  position: fixed;

  h1{
    @include font(28px, 33px, $weight:500);
    text-align: center;
    margin-bottom: 24px;
  }

  form>input{
    width: 232px;
    margin-bottom: 24px;
  }


  .btn{
    // margin: 0 auto;
    // display: block;
    position: absolute;
    bottom: 36px;
    left: 96px;
  }
}

#channels{
  width: 100%;

  height: 686px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
  display: flex;
  flex-direction: column;

  .channel{
    width: 100%;
    height: 162px;
    border-radius: 8px;
    background: $bg;
    margin-bottom: 16px;
    display: flex;

    &:first-child{
      margin-top: 27px;
    }
    &:last-child{
      margin-bottom: 0;
    }

  .image{
    width: 40%;
    max-width: 360px;
    min-width: 160px;

    display: flex;
    justify-content: center;
    align-items:center;
    margin: 0 20px;
  }

  .schedule{
    width: 60%;
    padding: 21px 0 19px;
    float: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    h1{
      margin-bottom: 17px;
      @include font(20px, 24px, $weight:500);
    }

    ul{
      list-style-type: none;
    }

    li{
      display: block;
      @include font(16px, 19px);
      padding-right: 20px;
      box-sizing: border-box;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:not(:last-of-type){
        padding-bottom: 12px;
      }

      &:first-of-type{
        color:$red;
      }
    }

    .time{
      display: inline-block;
      margin-right: 16px;
    }
  }
}
}
