#main {
  .new,
  .genres {
    margin: 0 auto;
  }

  .title {
    margin: 0 0 16px;
    display: inline-block;

    @include font(24px, 28px, $weight:500);
  }

  .fire {
    &::before {
      content: "\1F525";
    }
  }

  .films {
    display: flex;
    width: auto;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 32px;
  }

  .movie__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
  }

  .movie__paragraph {
    position: absolute;
    top: 0;
    width: 100%;
    height: 370px - 32px;
    padding: 16px;
    box-sizing: border-box;
    opacity: 0;
    cursor: pointer;
    overflow: hidden;

    @include font(16px, 140%, $bg);
  }

  .genre {
    width: 280px;
    height: 208px;
    position: relative;
    opacity: 0.8;
    box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    cursor: pointer;

    &__paragraph {
      position: absolute;
      bottom: 24px;
      left: 50%;
      transform: translateX(-50%);

      @include font(20px, 24px, $white);
    }
  }

  .movie {
    position: relative;
    width: 280px;
    height: 434px;

    &:hover {
      .movie__bg {
        opacity: 0.8;
      }

      .movie__paragraph {
        opacity: 1;
      }
    }

    &__description {
      background: #c4c4c4;
      width: 280px;
      height: 370px;
      border-radius: 8px;
    }

    &__img {
      width: inherit;
      height: inherit;
      border-radius: 8px;
      position: relative;
      cursor: pointer;
    }

    h2 {
      padding-top: 16px;
      cursor: pointer;

      @include font(20px, 24px);
    }
  }

  .icon {
    font-size: 48px;
    line-height: 48px;
    position: relative;
    top: 80px;
    text-align: center;
  }

  .genre:hover {
    opacity: 1;
  }
}